/** Retire le fil d'ariane et le menu de categories **/
.pos .breadcrumbs {
    display: none;
}
.pos .categories {
    display: none;
}

/** Retire l'adresse et le tel du coopain de la liste des clients **/
.pos .clientlist-screen .client-details-left {
    display: none;
}

.pos .clientlist-screen .client-details-right {
    float: left;
}

.pos .clientlist-screen .client-list thead tr th:nth-child(n+2),
.pos .clientlist-screen .client-list tbody tr td:nth-child(n+2) {
    display: none;
}