.accordion{
    border: 1px solid #204d74;
    border-radius: 4px;
}

.accordion h3{
    font-size: 13px;
    text-align: center;
    border: none;
    margin: 0;
    color: #FFF;
    background-color: #286090;
    padding: 10px 0;
}

.accordion .accordion-content {
    margin: 20px 25px;
    border: none;
}

.oe_website_login_container .btn{
    text-align:center;
    width:100%;
}

.logo{
    text-align:center;
}

.oauth_providers {
    margin-bottom: 10px;
}
.oauth_providers a:hover,
.oauth_providers a{
    color: #FFF;
    background: #286090;
    border-color: #204d74;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    line-height:1.428571429;
}
